# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.htaccess
404.html
CHANGELOG.md
favicon.ico
humans.txt
index.html
LICENSE.md
robots.txt
apple-touch-icon-precomposed.png
